# PostgreSQL — local
DATABASE_URL=postgresql://roomca:roomca@localhost:5432/roomca

# PostgreSQL — OVHcloud (à remplir plus tard)
# DATABASE_URL=postgresql://user:password@xxx.mysql.db:5432/roomca

PORT=3001
